<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ email.Subject }}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
	<div class="container">
		<h1>{{ email.Subject }}</h1>

		<div class="row">
			<div class="col-md-8">
				Message from <a href="/?name={{ email.name|urlencode }}">{{ email.name }}</a> on {{ email.Date.strftime('%Y-%m-%d') }}<p>
				<p>{{ email.Body }}</p>
				<pre>{{ as_json }}</pre>
			</div>
			<div class="col-md-4">
				<h4>More like this</h4>
				<p><a href="/?name={{ email.name|urlencode }}">{{ email.name }}</a></p>
				<p><a href="/?party={{ email.party|urlencode }}">{{ email.party }}</a></p>
				<p>State: <a href="/?state={{ email.state|urlencode }}">{{ email.state }}</a></p>

				{% if email.twitterid %}
				<br>
				<a class="twitter-timeline"
					href="https://twitter.com/{{ email.twitterid }}">
					Tweets by @{{ email.twitterid }}
				</a>

				{% endif %}
			</div>
		</div>
	</div>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
</body>
</html>
